{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} : Agent password change {% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    Agent password change
                </div>
            </div>
            <div class="portlet-body">
                {{ include('_elements/_back_to_list_button.html.twig', {url: path('agents_home'), label: 'Back to List', 'icon': 'chevron-left'}) }}
                {% include "RbsSalesBundle:Agent:update.password_content.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}

