{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} : Delivery Point {% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i> Delivery Point
                </div>
            </div>
            <div class="portlet-body">
                    {{ include('_elements/_back_to_list_button.html.twig', {url: path('nourish_vehicle_info_list'), label: 'Back to List', 'icon': 'chevron-left'}) }}
                {{ form_start(form, {'method': 'POST', attr: { novalidate: 'novalidate'}}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
{% endblock %}
