{{ form_start(form, {'method': 'POST'}) }}

    <h4>User Password Information</h4>

        {{ form_row(form.plainPassword.first, { 'attr': {'class': ''} }) }}
        {{ form_row(form.plainPassword.second, { 'attr': {'class': ''} }) }}

    <hr>

{{ form_end(form) }}