{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} : Sale Incentives {% endblock %}

{% block body %}

    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Sale Incentives
                </div>
            </div>
            <div class="portlet-body">
                    <div class="dataTables_wrapper no-footer">





                    <div style="clear: both"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
{% endblock %}


