{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} : User Details {% endblock %}

{% block body %}

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p>Customer Name : {{ customer.user.username }}</p>
            <p>FullName : {{ customer.user.profile.fullname }}</p>
        </div>
    </div>
</div>

{% endblock %}