{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} : User Details {% endblock %}

{% block body %}

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p>Username : {{ user.username }}</p>
            <p>FullName : {{ user.profile.fullname }}</p>
            <p>Groups : </p>
            {% for userGroup in user.groups %}
                {{ userGroup.name }}<br>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}