<div class="modal-header portlet-title box blue">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">New Chicken Type Set</h4>
</div>
<div class="modal-body">
    {{ form(form) }}
</div>
<div class="modal-footer">
</div>
