{% block body %}

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p>Name : {{ group.name }}</p>
            <p>Description : {{ group.description }}</p>
        </div>
    </div>
</div>

{% endblock %}