<form action="{{ path('group_create') }}" method="POST" class="fos_user_group_new">
{#<form action="{{ path('group_create') }}" method="POST" class="fos_user_group_new" id="form_sample_1">#}
    {{ form_widget(form) }}
</form>

