{% extends '::base.html.twig' %}

{% block body -%}
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Add Bank Account
                </div>
            </div>
            <div class="portlet-body">
                {{ include('_elements/_back_to_list_button.html.twig', {url: path('bank_account'), label: 'Back to List', 'icon': 'chevron-left'}) }}
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
