.dataTables_wrapper .no-footer{
    clear: both;
}
.green{
    color: green;
}
.red{
    color: red;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}
div.dataTables_filter input.form-control {
    width: 10em;
}
.feed_order_table .table>tbody>tr>td,
.feed_order_table .table>tbody>tr>th,
.feed_order_table .table>tfoot>tr>td,
.feed_order_table .table>tfoot>tr>th,
.feed_order_table .table>thead>tr>td,
.feed_order_table .table>thead>tr>th{
    padding: 2px;
}