.dataTables_wrapper .no-footer{
    clear: both;
}
.green{
    color: green;
}
.red{
    color: red;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}