{% extends ':base-type:datatable.html.twig' %}

{% block body -%}
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Depot
                </div>
            </div>
            <div class="portlet-body">
                {{ include('_elements/_back_to_list_button.html.twig', {url: path('depo_new'), label: 'Add New', 'icon': 'plus'}) }}

                <div class="dataTables_wrapper no-footer">
                    {{ datatable_render_html(datatable) }}
                    <div style="clear: both"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
    {{ form(deleteForm) }}
{% endblock %}