<div class="table-toolbar">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group pull-right">
                <a class="btn blue" href="{{ url }}">
                     <i class="fa fa-{{ icon }}"></i> {{ label }}
                </a>
            </div>
        </div>
    </div>
</div>